# Core functionality - changes here should be rare!
/src/app.py                   @adi-ray
/src/backend/database.py      @adi-ray
/src/backend/routers/auth.py  @adi-ray

# The frontend will need refactored soon to be more object oriented.
/src/static/   @adi-ray
